<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of puppies!!!!</title>
  </head>
  <body>
    <h1>LIST OF ALL PUPPIES AVAILABLE.</h1>
    <h2>pictures coming soon...</h2>
  <ul>
      <% Puppy.all.each do |puppy|%>
      <li><%= "Puppy Name: #{puppy.name}"%> </li>
      <li><%= "Puppy Breed: #{puppy.breed}"%> </li>
      <li><%= "Puppy Age: #{puppy.age}"%> </li>
      <%end%>
  </ul>


  </body>
</html>
