<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Site</title>
  </head>
  <body>
    <h1>WELCOME TO THE PUPPY SITE</h1>
    <a href="/new">"Click Here To List A Puppy"</a>
  </body>
</html>
